bokeh==3.1.1
datapackage==1.15.2
dataset==1.6.2
datasets==2.16.0
distributed==2023.5.0
fake-useragent==1.4.0
graphviz==0.20.1
huggingface==0.0.1
intel-extension-for-tensorflow==0.0.0.dev1
lz4==4.3.2
matplotlib==3.7.4
pip==23.3.2
pipdeptree==2.13.1
pipreqs==0.4.13
pydot==2.0.0
rag==0.1.0
scipy==1.10.1
Scrapy==2.11.0
tensorflow==2.13.0
torch==2.1.2
transformers==4.36.2
yfinance==0.2.33
